# FOLDERS
*build*/
*product*/
*todo*/
*install*/
**/dep/**
**/build/**
**/obj/**
**/bin/**
**/sobj/**
**/lib/**
**/apidoc/**
**/test/data/**


**/*.o
**/*.a
**/*.so
**/*.d
**/*.bin

**/*~
**/gmon.out
site/**
*.swp

# FILES
README-headless.md
README-orig.md
TODO
VERSION
RELEASE-HOWTO.md
infer-out
